.place__title {
    font-weight: 900;
    width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media (max-width: 1024px) {
    .place__title {
        width: 440px;
    }
}

@media (max-width: 768px) {
    .place__title {
        box-sizing: border-box;
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 375px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 355px) {
    .place__title {
        font-size: 32px;
        margin-bottom: 20px;
        line-height: 35px;
        width: 100%;
    }
}