.intro__list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    font-size: 12px;
    line-height: 18px;
}

@media (max-width: 320px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}