.place__row {
    display: flex;
    margin-bottom: 48px;
}

@media (max-width: 768px) {}

@media (max-width: 670px) {
    .place__row {
        flex-direction: column;
    }

    .place__row:first-child {
        align-items: flex-start;
    }
}

@media (max-width: 320px) {
    .place__row {
        margin-bottom: 32px;
    }

    .place__row:first-child {
        padding-left: 16px;
    }
}