.cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 3;
    color: white;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        width: 36%;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        width: 366px;
    }
}

@media (max-width: 700px) {
    .cover__subtitle {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 272px;
        height: 48px;
        line-height: 16px;
        font-size: 14px;
    }
}