.cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 3;
    color: white;
    font-weight: 400;
    margin: 0;
    padding-bottom: 245px;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        width: 36%;
        padding-bottom: 195px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        width: 366px;
        padding-bottom: 115px;
    }
}

@media (max-width: 700px) {
    .cover__subtitle {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 272px;
        line-height: 16px;
        font-size: 14px;
        padding-bottom: 33px;
    }
}