.place__text {
    gap: 25px ;
    display:flex;
    flex-direction: column;
    padding-left: 40px;
}

@media (max-width: 1024px) {
    .place__text {
        padding-left: 30px;
    }
}

@media (max-width: 670px) {
    .place__text {
        padding: 0;
    }
}

@media (max-width: 320px) {
    .place__text {
        padding: 0 16px;
        margin-top: 32px;
    }
}