.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}


@media (max-width: 767px) {
    .lead__title {
        max-width: 80%;
        font-size: 45px;
        line-height: 45px;
    }
}


@media (max-width: 375px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 44px;
    }
}