.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 565px) {
    .footer__copyright {
        margin-top: 48px;
    }
}

@media (max-width: 320px) {
    .footer__copyright {
        line-height: 14px;
    }
}