.lead__subtitle {
    width: 50%;
    margin: 32px auto 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media (max-width: 768px) {
    .lead__subtitle {
        width: 82%;
    }
}

@media (max-width: 320px) {
    .lead__subtitle {
        width: 288px;
        height: 40px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}