.cover {
    max-width: 1184px;
    position: relative;
    background-image:url('../../images/cover-trains.jpg');
    background-position:center;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 92px;
}

.cover:hover {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .cover {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin-top: 90px;
        padding-bottom: 0px;
    }
}

@media (max-width: 375px) {
    .cover {
        margin-top: 15px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin-top: 64px;
    }
}