.cover__overlay {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__overlay::before {
    position: absolute;
    background-color: rgba(42, 44, 47, 0.3);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cover:hover .cover__overlay::before {
    background-color:rgba(42,44,47,.8);
    transition:  background-color 0.3s linear;
}

@media (max-width: 320px) {
    .cover__overlay {
        gap: 16px;
    }
}