.cover__background {
    max-width: 1184px;
    position: relative;
    background-image:url('../../../images/cover-trains.jpg');
    background-position:center;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 1024px) {
    .cover__background {
       min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}