.cover__title {
    color: white;
    font-weight: 900;
    z-index: 3;
    width: 560px;
    text-align: center;
    font-size: 72px;
    text-decoration: none;
    line-height: 76px;
    margin: 0;
    padding-top: 245px;
}

@media (max-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        padding-top: 115px;
        font-size: 72px;
        line-height: 76px;
        width: 70%;
    }
}


@media (max-width: 726px) {
    .cover__title {
        font-size: 40px;
        line-height: 40px;
        width: 65%;
    }
}

@media (max-width: 434px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 250px;
        padding-top: 60px;
    }
}

@media (max-width: 320px) {
    .cover__title {
        padding-top: 33px;
    }
}