.cover__title {
    position: absolute;
    color: white;
    top: 245px;
    z-index: 3;
    width: 560px;
    height: 152px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 1024px) {
    .cover__title {
        top: 195px;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
}
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        top: 115px;
        width: 70%;
    }
}


@media (max-width: 700px) {
    .cover__title {
        font-size: 40px;
        line-height: 45px;
        width: 70%;
        top: 39%;
    }
}

@media (max-width: 390px) {
    .cover__title {
        font-size: 36px;
        line-height: 38px;
        width: 65%;
    }
}

@media (max-width: 376px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        top: 40%;
    }
}

@media (max-width: 320px) {
    .cover__title {
        width: 75%;
        top: 30%;
    }
}