.place__website {
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 12px;
}


@media (max-width: 1024px) {
    .place__website {
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__website {
        padding-left: 28px;
    }
}

@media (max-width: 665px) {
    .place__website {
        margin: 0;
        padding: 0;
    }
}