.intro__title {
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 58px;
}

@media (max-width: 768px) {
    .intro__title {
        max-width: 80%;
    }
}


@media (max-width: 375px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 320px) {
    .intro__title {
        max-width: 75%;
    }
}